/* Ваши стили */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #dateInput {
    margin-right: 10px;
  }
  
  #homeworkList {
    margin-top: 20px;
  }